<h3>Selected Papers</h3>
<!-- UWM, DSRL, RialTo, Polaris, HAMSTER, CCIL, DIAYN, SERL, SAC -->
<a href="https://weirdlabuw.github.io/uwm/" class="pub-item">
  <!-- <img src="images/projects/UWM.jpg" alt=""> -->
  <span class="pub-info"><strong>Unified World Models</strong><span class="venue">
    RSS 2025 <br>
    ICML 2025 Workshop Best Paper
   </span></span>
</a>

<a href="https://diffusion-steering.github.io" class="pub-item">
  <!-- <img src="images/projects/DSRL.jpg" alt=""> -->
  <span class="pub-info"><strong>DSRL</strong>
  <!-- <span class="pub-info">Steering Your Diffusion Policy with Latent Space Reinforcement Learning -->

    <span class="venue">
    CoRL 2025 Oral, Best Paper Nominee
  </span></span>
</a>

<a href="https://real-to-sim-to-real.github.io/RialTo/" class="pub-item">
  <!-- <img src="images/projects/roboarena.jpg" alt=""> -->
  <span class="pub-info"><strong>RialTo</strong><span class="venue">
  <!-- <span class="pub-info">Reconciling Reality Through Simulation: A Real-to-Sim-to-Real Approach for Robust Manipulation -->
    <span class="venue">RSS 2024</span></span>
</a>

<a href="https://polaris-evals.github.io" class="pub-item">
  <!-- <img src="images/projects/srsa.jpg" alt=""> -->
  <span class="pub-info"><strong>PolaRiS</strong><span class="venue">Under Review</span></span>
  <!-- <span class="pub-info">PolaRiS: Scalable Real-to-Sim Evaluations for Generalist Robot Policies -->
</a>

<a href="https://hamster-robot.github.io" class="pub-item">
  <!-- <img src="images/projects/rlhf.jpg" alt=""> -->
  <span class="pub-info"><strong>HAMSTER</strong><span class="venue">ICLR 2025</span></span>
</a>

<a href="https://personalrobotics.github.io/CCIL/" class="pub-item">
  <!-- <img src="images/projects/droid.jpg" alt=""> -->
  <span class="pub-info"><strong>CCIL</strong><span class="venue">ICLR 2024</span></span>
</a>

<a href="https://serl-robot.github.io" class="pub-item">
  <!-- <img src="images/projects/repo.jpg" alt=""> -->
  <span class="pub-info"><strong>SERL</strong><span class="venue">ICRA 2024</span></span>
  <!-- <span class="pub-info">SERL<span class="venue">ICRA 2024</span></span> -->
</a>

<a href="https://sites.google.com/view/diayn" class="pub-item">
  <!-- <img src="images/projects/repo.jpg" alt=""> -->
  <span class="pub-info"><strong>DIAYN</strong><span class="venue">ICLR 2018</span></span>
</a>


<a href="https://sites.google.com/view/sac-and-applications" class="pub-item">
  <!-- <img src="images/projects/repo.jpg" alt=""> -->
  <span class="pub-info"><strong>SAC</strong><span class="venue">Unknown</span></span>
  <!-- <span class="pub-info">SERL<span class="venue">ICRA 2024</span></span> -->
</a>

<button class="all-pubs-link" onclick="openPubPanel()">All publications →</button>
